*{margin: 0; padding:0; }
nav#formulario{
    height:0px;
    /* background-color: darkgray; */
    font-family: "Courier New", sans-serif;
    font-weight: lighter;
    margin-bottom: -190px;
}

#formulario{
    width: 500px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    
}

#formulario h2, #formulario h3{
    font-size: 22px;
    font-family: sans-serif;
    color: lightgreen;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 4%;
}

#formulario h3{color: #333; font-size:18px; }


#formulario fieldset{
    background: white;
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    
    box-shadow: 0 0 15px 1px rgba(0,0,0, 0.4);
    padding: 20px 30px;
    
    box-sizing:  border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
}

#formulario fieldset:not(:first-of-type){
display:none;    
}


#formulario input , #formulario textarea{
    padding: 10px;
    border:1px solid rgba(38,128,191, 0.9);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    margin-bottom: 10px;
}

#formulario .acao{
    width: 100px;
    background-color: lightgreen;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    float: left;
    margin-right: 5%;
}

#formulario .acao:hover{background:darkgreen; cursor: pointer;}

#formulario #progress{
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    
}
#formulario #progress li{
    list-style:none;
    color: darkgray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    width: 33.33%;
    position: relative;
}

#formulario #progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    background-color: lightgray;
    color: #333;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin:0 auto 10px auto; 
    
}

#formulario #progress li:after{
 content: '';
    width: 100%;
    background: lightgray;
    height: 2px;
    position: absolute;
    top:9px;
    left: -50%;
    z-index: -1;
}
#formulario #progress li:first-child:after{
    content: none;
    
}


#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
    background:rgba(40, 208, 141, 0.9);
    color: white;
    text-shadow: 0  1px 0;
}







